<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
    <title>Sign In</title>
</head>
<body>
    <%- include("./navbar") %>
    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">Full Name</label>
            <input type="name" name="Fullname" class="form-control" id="nameId" aria-describedby="emailHelp" placeholder="Enter name">
          </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" name="email" class="form-control" id="emailId" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" name="password" class="form-control" id="passwordId" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

      <%- include("./partials/scripts") %>
    
</body>
</html>